:root {
  --content-primary-light: rgb(0, 0, 0);
  --content-secondary-light: rgb(0, 0, 0);
  --background-light: rgb(255, 255, 255);
  --code-background-light: rgb(255, 255, 255);
  --code-border-light: rgb(0, 0, 0);

  --content-primary-dark: lawngreen;
  --content-secondary-dark: lime;
  --background-dark: darkblue;
  --code-background-dark: black;
  --code-border-dark: lightseagreen;
}
