.bubble {
    position: absolute;
    bottom: 0;
    background: radial-gradient(circle, rgba(72, 239, 128, 1) 5%, rgba(72, 239, 128, 0) 30%);
    border: none;
    border-radius: 50%;
    pointer-events: none;
    animation: rise var(--speed) linear infinite;
}

@keyframes rise {
    0% { transform: translateY(0); opacity: 0; }
    10% { opacity: 1; }
    100% { opacity: 0; transform: translateY(var(--dist)); }
}

img {
    padding: 20px;
}

pre, code {
    font-size: 0.8em;
}
